.card {
    background-color: whitesmoke;
    width: 200px;
    height: 210x;
    color: black;
    margin: 10px;
}

.card__picture {
    background-color: whitesmoke;
    height: 200px;
}

.card__buttons {
    background-color: whitesmoke;
    height: 40px;
}

