.app {
    background-color: gray;
    color: white;
    padding: 1rem;
    text-align: center;
    border: 2px solid #fff;
    /* width: 500px; */
}

/* Show bootstrap columns */
/* [class*="col"] {
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid white;
    color: white;
    text-align: left;
} */
